<div class="flex h-full w-full items-start justify-between rounded-md border-[1px] border-[transparent] dark:hover:border-white/20 bg-white px-3 py-[20px] transition-all duration-150 hover:border-gray-200 dark:!bg-navy-800 dark:hover:!bg-navy-700">
    <div class="flex items-center gap-3">
        <div class="flex h-16 w-16 items-center justify-center">
        <img
            class="h-full w-full rounded-xl"
            src="https://horizon-tailwind-react-corporate-7s21b54hb-horizon-ui.vercel.app/static/media/Nft5.62dbaf7dd91b4180035c.png"
            alt=""
        />
        </div>
        <div class="flex flex-col">
        <h5 class="text-base font-bold text-navy-700 dark:text-white">
            Mesh Gradients
        </h5>
        <p class="mt-1 text-sm font-normal text-gray-600">
            Will Smith
        </p>
        </div>
    </div> 
    <div class="mt-1 flex items-center justify-center text-navy-700 dark:text-white">
        <div>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
        </div>
        <div class="ml-1 flex items-center text-sm font-bold text-navy-700 dark:text-white">
        <!-- <p>   </p>
        0.4<p class="ml-1">ETH</p> -->
        </div>
        <div class="ml-2 flex items-center text-sm font-normal text-gray-600 dark:text-white">
        <p>30s</p>
        <p class="ml-1">ago</p>
        </div>
    </div>
</div>