.button_oxygene_plant,
p{
    font-family: "Open Sans", sans-serif;
}
h1,
h2{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}
button.see_more{
    font-family: "Poppins", sans-serif;
    color:white;
}
.plant{
    background: #B9D6A8;
}