<div class="super_container w-screen z-0">
    <div class="mini_container h-screen w-full relative z-50 rounded-md">
  
      <!-- start header -->
      <header class="flex items-center justify-between py-8 px-4 max-w-7xl mx-auto">
        <div class="logo_content flex items-center gap-1 cursor-pointer">
          <div class="logo">
            <img src="../assets/logo_plant.png" alt="">
          </div>
          <div class="text_logo font-bold text-primary">Plant Buddy</div>
        </div>
        <nav>
          <ul class="text-secondary flex items-center gap-6 font-semibold z-50">
            <li class="cursor-pointer z-50">About Us</li>
            <li class="cursor-pointer z-50">Our Plants</li>
            <li class="cursor-pointer z-50">Contact Us</li>
          </ul>
        </nav>
        <div></div>
      </header>
      <!-- End header -->
  
      <!--Start section body center -->
      <div class="body_content w-full h-full">
        <section class="max-w-7xl px-4 mx-auto w-full h-full flex items-center z-50">
          <aside class="w-full h-full z-50">
            <p class="button_oxygene_plant mt-[20%] font-semibold w-fit px-4 py-2 bg-buttonGreen rounded-2xl z-50 cursor-pointer">
              <button>Oxygene Plant</button>
            </p>
            <h1 class="font-bold mt-2">KEEP YOUR</h1>
            <h2 class="font-bold">PLANTS HEALTHY</h2>
            <p>Plants reduce stress levels and boost your mood - making</p>
            <p>Them perfect for your home and your work space, too.</p>
            <button (click)="auth()" class="see_more font-medium mt-2 px-8 py-3 bg-green text-[#fff] rounded-md z-50">See More</button>
          </aside>
          <article class="w-full h-full relative z-10">
            <div class="plant absolute w-[500px] h-[500px] bg-green mt-4 rounded-full overflow-hidden">
              <img class="relative -bottom-10 left-10" src="../assets/plant.png" alt="">
            </div>
          </article>
        </section>
      </div>
      <!-- End section body center -->
  
      <!-- Start Section footer -->
      <footer class="z-50 absolute -bottom-10 left-20 flex items-center bg-secondary w-full rounded-t-3xl h-fit">
          <div>
              <img src="../assets/Image_footer.png" alt="">
          </div>
          <div class=" text-[#fff]">
              <div class="footer_text">
                  <p>
                      God Almighty first planted a garden, And indeed, it is the purest of human pleasure, -Francis
                  </p>
                  <p>
                      Bacon (1625) Essays 'Of Gardens'
                  </p>
              </div>
          </div>
      </footer>
      <!-- End  section footer -->
  
      <!-- section overlay objet -->
      <div class="overlay_header absolute right-10 top-0 z-10 h-full">
        <img class="h-[100px] w-[300px]" src="../assets/Rectangle_header.png" alt="">
        <div class="text-black flex items-center gap-6 z-50 absolute top-5 left-10">
          <div class="cursor-pointer"><img src="../assets/search.svg" alt=""></div>
          <div class="cursor-pointer"><img src="../assets/user.svg" alt=""></div>
          <div class="cursor-pointer"><img src="../assets/menu.svg" alt=""></div>
        </div>
      </div>
      <div class="absolute left-[15%] top-0 -z-1">
        <img src="../assets/Ellipse_24.png" alt="">
      </div>
      <div class="absolute -left-10 -top-10 -z-1">
        <img src="../assets/Ellipse 25.png" alt="">
      </div>
      <div class="absolute left-[20%] top-0 -z-1">
        <img src="../assets/Rectangle 16.png" alt="">
      </div>
      <div class="absolute left-[10%] top-[43%] -z-1">
        <img src="../assets/Shadow.png" alt="">
      </div>
      <!-- End ovelay -->
    </div>
  </div>
  