/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}





// MEdia query
// @media screen and (max-width: 1300px) {
    
// }